*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main{
    .card{
        border-style: none;
        padding-left: 20px;
        padding-top: 10px;
        .card-text{
            color: green;
        }
    }
}

.icons{
    ul{
        padding-left: 5rem;
        margin-top: -14px;
        li{
           list-style: none;
           display: inline-block;
        }
    }
}

.icon{
    ul{
        li{
            list-style: none;
            padding-left: 200px;
        }
    }
}

